In [ ]:
!pip install pprint ipywidgets pandas numpy matplotlib sklearn seaborn xgboost scipy yellowbrick statsmodels pandas_profiling

In [1]:
!pip install dask dask_ml

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: dask in /home/andrea/.local/lib/python3.6/site-packages (2.13.0)

# Gusto

Acute myocardial infarction (“heart attack”) is caused by the formation of a clot in oneof the coronary arteries that supply blood to the heart muscle. 

Acute MI is a major public health problem. Mortality is substantial in the period immediately after the event (and also during the years after surviving the initial  infarction). Some patients die before reaching the  hospital. Patients seen in hospitals are reported to have an average mortality within 30 days around 6–15%, with improvement over time. The risk of 30-day mortality strongly depends on various prognostic factors. In younger patients, risks are much lower than in older patients. Other patient demographics are also important (gender, length, weight), as well as the presence of risk factors (hypertension, diabetes, smoking, family history) and the history of previous cardiovascular events (previous MI, angina, stroke, bypass surgery). Relevant presenting characteristics includethe location of the infarction and the extent of ECG abnormalities. Very important is the acute state of the patients reflected by blood pressure,heart rate, and left ventricular function (e.g., presence of shock).

Aim of this study is to find predictors of 30-days mortality.

In [38]:
import warnings
warnings.filterwarnings('ignore')

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

from pprint import pprint
from time import sleep

#  load data
import pandas as pd
import numpy as np
import dask.dataframe as dd

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn import metrics
from sklearn.metrics import roc_auc_score
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA
from sklearn.base import BaseEstimator

import tpot

import xgboost as xgb

from scipy.special import expit

from yellowbrick.classifier import ConfusionMatrix, ClassBalance, ROCAUC, ClassificationReport, ClassPredictionError

import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

from pandas_profiling import ProfileReport

In [51]:
df = pd.read_csv("./Gusto.csv")

# dummify smk categories
df['eversmk']= (df['smk']!=1).astype(int)
df['currentsmk']=(df['smk']==3).astype(int)
df.drop(["smk"], axis=1)
df.describe()

,day30,sex,age,a65,killip,sho,dia,hyp,hrt,ant,...,htn,smk,lip,pan,fam,ste,st4,ttr,eversmk,currentsmk
count,3661.000000,3661.000000,3661.000000,3661.000000,3661.000000,3661.000000,3661.000000,3661.000000,3661.000000,3661.000000,...,3661.000000,3661.000000,3661.000000,3661.000000,3661.000000,3661.000000,3661.000000,3661.000000,3661.000000,3661.000000
mean,0.063098,0.256760,60.849984,0.394428,1.157334,0.016935,0.131385,0.087135,0.317126,0.367932,...,0.396340,1.883638,0.397432,0.350178,0.456706,4.060093,0.368479,0.589456,0.603660,0.279978
std,0.243171,0.436906,11.805047,0.488794,0.432737,0.129047,0.337867,0.282071,0.465421,0.482309,...,0.489203,0.814223,0.489434,0.477091,0.498190,1.874387,0.482458,0.492000,0.489203,0.449050
min,0.000000,0.000000,23.910000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,51.547000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,61.266000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,2.000000,0.000000,0.000000,0.000000,4.000000,0.000000,1.000000,1.000000,0.000000
75%,0.000000,1.000000,70.094000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,3.000000,1.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,89.484000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,3.000000,1.000000,1.000000,1.000000,11.000000,1.000000,1.000000,1.000000,1.000000

In [54]:
# any null value?
bool(df.isnull().sum().sum())

False

In [55]:
# dropping useless/redundant columns
df.drop(["sho", "a65", "st4"], axis=1)
df.columns

Index(['day30', 'sex', 'age', 'a65', 'killip', 'sho', 'dia', 'hyp', 'hrt',
       'ant', 'pmi', 'hei', 'wei', 'htn', 'smk', 'lip', 'pan', 'fam', 'ste',
       'st4', 'ttr', 'eversmk', 'currentsmk'],
      dtype='object')

In [57]:
x_train, x_test, y_train, y_test = train_test_split(df[df.columns[1:]], df['day30'])

In [58]:
from tpot import TPOTClassifier

In [59]:
pipeline_optimizer = TPOTClassifier()

In [71]:
pipeline_optimizer = TPOTClassifier(generations=10, population_size=30, cv=5,
                                    random_state=42, verbosity=3)

In [ ]:
pipeline_optimizer.fit(x_train, y_train)

32 operators have been imported by TPOT.

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', max=330.0, style=ProgressStyle(de…

_pre_test decorator: _random_mutation_operator: num_test=0 Unsupported set of arguments: The combination of penalty='l1' and loss='hinge' is not supported, Parameters: penalty='l1', loss='hinge', dual=False.
_pre_test decorator: _random_mutation_operator: num_test=0 Solver lbfgs supports only dual=False, got dual=True.
_pre_test decorator: _random_mutation_operator: num_test=0 manhattan was provided as affinity. Ward can only work with euclidean distances..
_pre_test decorator: _random_mutation_operator: num_test=0 Unsupported set of arguments: The combination of penalty='l1' and loss='squared_hinge' are not supported when dual=True, Parameters: penalty='l1', loss='squared_hinge', dual=True.

In [63]:
print(pipeline_optimizer.score(x_test, y_test))

0.9563318777292577

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /home/andrea/.local/lib/python3.6/site-packages (0.23.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/andrea/.local/lib/python3.6/site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in /home/andrea/.local/lib/python3.6/site-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /home/andrea/.local/lib/python3.6/site-packages (from scikit-learn) (1.18.5)
Requirement already satisfied: joblib>=0.11 in /home/andrea/.local/lib/python3.6/site-packages (from scikit-learn) (0.14.1)